<div class="container-fluid">
  
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        <div class="box-header">
          <i class="icon-thumbs-up"></i>
          <span class="title">支持的浏览器</span>
        </div>
        <div class="padded browsers">
          <div class="row-fluid">
            <div class="span2 offset1 text-center">
              <%= image_tag 'browsers/chrome.png' %>
              <p>Chrome</p>
            </div>
            <div class="span2 text-center">
              <%= image_tag 'browsers/firefox.png' %>
              <p>Firefox</p>
            </div>
            <div class="span2 text-center">
              <%= image_tag 'browsers/safari.png' %>
              <p>Safari</p>
            </div>
            <div class="span2 text-center">
              <%= image_tag 'browsers/opera.png' %>
              <p>Opera</p>
            </div>
            <div class="span2 text-center">
              <%= image_tag 'browsers/ie.png' %>
              <p>IE 9+</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>